@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;900&display=swap');

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #0c1d3e; /* dark blue */
  color: #d4d4d4; /* light gray */
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.ui {
  width: 100%;
  height: 100%;            
  position: absolute;
  top: 0;
  left: 0;
  font-family: 'Montserrat', sans-serif;
  /*background-color: #1c1c1c; /* dark gray */
  /*color: #f2f2f2; /* light gray */
  /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* white shadow */
}

@keyframes game-over-anim {
  from {
    opacity: 0.0;
    visibility: hidden;
  }
  to {
    opacity: 0.5;
    visibility: visible;
  }
}

.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-ui {
  position: absolute;
  left: 100px;
  bottom: 50px; 
  background: #0c1d3e; /* dark blue */
  width: 300px;
  height: 100px;
  padding: 10px 10px;
  border-radius: 10px;
  
}

.right-ui {
  position: absolute;
  right: 100px;
  bottom: 50px; 
  background: #0c1d3e; /* dark blue */
  width: 300px;
  height: 100px;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* white shadow */
}

.top-right-ui {
  position: absolute;
  right: 100px;
  top: 50px; 
  background: #0c1d3e; /* dark blue */
  width: 250px;
  height: 100px;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 100px;
  color: #d4d4d4; /* light gray */
  text-align: center;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* white shadow */
}


.ui-area {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
}

.game-over-layout {
  opacity: 0.0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.game-over-layout-active {
  opacity: 1.0;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

.game-over-text {
  font-size: 5em;
  color: white;
  text-shadow: 8px 8px black;
}
.ui-glow {
  border-radius: 5px;
  box-shadow:
    inset -20px -40px 40px rgba(255, 255, 255, 0.125),
            0 0 0 2px rgba(255, 255, 255, 0.5),
    inset -40px -60px 60px rgba(255, 255, 255, 0.125),
           7px 7px 20px rgba(255, 255, 255, 0.125);
}

.left-ui-area {
  transform: perspective(600px) rotateY(0deg) rotatez(0deg);
}

.right-ui-area {
  transform: perspective(600px) rotateY(0deg) rotatez(0deg);
}

.top-right-ui-area {
  transform: perspective(600px) rotateY(0deg) rotatez(0deg);
}

.top-left-ui-area {
  text-align: center;
}

.objective-title-icon {
  filter: invert(1) drop-shadow(2px 2px 4px);
}

.objective-title {
  padding: 5px 10px;
  font-size: 1.5em;
  color: white;
  text-shadow:
      0px -2px 2px gray,
      0px 2px 2px gray,
      0px 0px 8px rgb(0, 0, 0),
      0px 0px 32px rgb(0, 0, 0);
}

.objective-text-background {
  min-width: 400px;
  padding: 10px 10px;
  background: linear-gradient(#1a1a1a, #0c0c0c);
  align-items: center;
}

.objective-text {
  font-size: 1em;
  margin-left: 10px;
  margin-right: 10px;
  color: lightgray;
  text-shadow:
      0px -2px 1px gray,
      0px 2px 1px gray,
      0px 0px 4px rgb(0, 0, 0);
}

.objective-text-icon {
  filter: invert(1) drop-shadow(2px 2px 4px);
  height: 24px;
}

.ammo-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weapon-text {
  color: white;
  text-shadow:
      0px -2px 1px gray,
      0px 2px 1px gray,
      2px 2px 4px rgb(0, 0, 0);
  font-size: 16px;
}

.weapon-pic-text {
  color: white;
  text-shadow:
      0px -2px 1px gray,
      0px 2px 1px gray,
      2px 2px 4px rgb(0, 0, 0);
  font-size: 32px;
}

.weapon-icon {
  background-image: url('./resources/ui/gun.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 110px;
  height: 40px;
}

.charge-area {
  margin: 10px;
  justify-content: right;
}

.charge-bar {
  height: 24px;
  width: 160px;
  margin-left: 5px;
}

.charge-bar-active {
  height: 100%;
  background-color: #c9c9c9;
  border-radius: 5px;
  box-shadow:
    0 0 10px #c9c9c9,
    inset 0 0 10px #c9c9c9;
}

.charge-text {
  color: white;
  text-shadow:
      0px -2px 1px gray,
      0px 2px 1px gray,
      2px 2px 4px rgb(0, 0, 0);
  font-size: 20px;
}

.weapon-text-icon {
  background-image: url('./resources/ui/weapon.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55px;
  width: 55px;
  margin-left: 2px;
  filter: invert(1) drop-shadow(2px 2px 4px);
}

.weapon-area {
  margin-left: 10px;
}

.weapon-top-row {
  min-height: 30px;
  margin-bottom: 5px;
}

.charge-icon {
  background-image: url('./resources/ui/charge.png');
  background-size: contain;
  height: 34px;
  width: 34px;
  margin-left: 5px;
}

.charge-icon-main {
  filter: invert(1) drop-shadow(2px 2px 4px);
}

.health-area {
  margin: 10px;
  justify-content: right;
}

.health-bar {
  height: 48px;
  width: 165px;
  margin: 5px;
}

.health-text {
  color: white;
  text-shadow:
      0px -2px 1px gray,
      0px 2px 1px gray,
      2px 2px 4px rgb(0, 0, 0);
  font-size: 30px;
}

.health-icon {
  background-image: url('./resources/ui/health.png');
  background-size: contain;
  height: 44px;
  width: 44px;
  margin-left: 5px;
}

.health-icon-main {
  filter: invert(1) drop-shadow(2px 2px 4px);
}

.health-bar-active {
  height: 100%;
  background-color: #c9c9c9;
  border-radius: 5px;
  box-shadow:
    0 0 10px #c9c9c9,
    inset 0 0 10px #c9c9c9;
}

.top-left-ui-area.fadeOut {
  opacity: 1.0;
  animation: fadeOut 2s ease-in-out forwards;
}

.top-left-ui-area.slideIn {
  animation: slideIn 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1.0;
    visibility: visible;
  }
  100% {
    opacity: 0.0;
    visibility: hidden;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}